flows.json
[{"id":"e6dc7e2a.20cd3","type":"tab","label":"フロー 3","disabled":false,"info":""},{"id":"ab2d0681.2a8288","type":"camera","z":"e6dc7e2a.20cd3","name":"","x":110,"y":40,"wires":[["51d2cc3b.f278e4","9a7919ea.c5e568"]]},{"id":"9a7919ea.c5e568","type":"teachable machine","z":"e6dc7e2a.20cd3","name":"","mode":"online","modelUrl":"https://teachablemachine.withgoogle.com/models/●●●/","localModel":"teachable_model","output":"best","activeThreshold":false,"threshold":80,"activeMaxResults":false,"maxResults":3,"passThrough":true,"x":290,"y":40,"wires":[["ea071308.879a9"]]},{"id":"51d2cc3b.f278e4","type":"image","z":"e6dc7e2a.20cd3","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":280,"y":120,"wires":[]},{"id":"ea071308.879a9","type":"debug","z":"e6dc7e2a.20cd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":40,"wires":[]}]
